.products {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  width: 100vw;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 15px;
}
.popup {
  flex: 1;
}
.Data {
  display: flex;
  flex: 0.5;
  justify-content: center;
  margin-top: 15px;
}
.preData {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}
.card {
  margin: 5px;
  cursor: pointer;
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.cardbody-content {
  background-color: #ffff;
  padding: 5px;
}
.cardbody-email {
  background-color: #ffff;
  color: red;
  display: flex;
  flex-wrap: wrap;
}
.userName {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffff;
}
.popup {
  display: flex;
  justify-content: center;
}
.popupModal {
  height: 50vh;
}
.CardBgChange {
  background-color: #a259ff;
  color: white;
}
.SelectUserName {
  display: flex;
  flex-wrap: wrap;
  background-color: #a259ff;
}
.SelectUserName1 {
  padding: 5px;
  background-color: #a259ff;
}
.popupCardTitle {
  display: flex;
  background-color: #ffff;
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 6px;
  text-decoration-color: red;
}
.popupCardTitle > li {
  list-style-type: none;
  font-size: 35px;
  color: red;
  background-color: #ffff;
}
.popupCardList {
  background-color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.popupCardList > li {
  background-color: #fff;
  padding-right: 5px;
}
