.Navbar{
    display: flex;
    flex:1;
    flex-wrap: wrap;
}
.logo{
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navLink{
    flex:0.4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 1em;
    flex-wrap: wrap;

}
.navLink>a{
    flex: 0.1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: #000;
    padding:  1em;
    flex-wrap: wrap;
}
.link1{
    border-bottom: 2px solid red;
    
}
